@import './base.css';

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}
